.signUp{
    height:100vh;
    background-image: url("./assets/images/registerbg.png");
    background-size: cover;
    padding-top: 10%;
}

@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start off-screen */
      opacity: 0;
    }
    50% {
      opacity: 1; /* Gradually fade in */
    }
    100% {
      transform: translateX(0); /* End at the original position */
      opacity: 1;
    }
  }
  
  .hero-overlay h1,
  .hero-overlay p {
    animation: slideIn 2s ease-out forwards; /* 2s duration, ease-out effect */
  }
  
  .hero-overlay h1 {
    animation-delay: 0.5s; /* Delays the h1's animation */
  }
  
  .hero-overlay p {
    animation-delay: 1s; /* Delays the p tag's animation */
  }
  
  #google_translate_element {
    /* display: none; Initially hidden */
    background: white; /* Background color */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow */
    z-index: 1000; /* Make sure it is on top */
  }